header
  width: 1240px
  margin: 0 auto
  padding: 70px 0

  nav
    display: flex
    justify-content: space-between
    align-items: center

    ul
      display: flex
      gap: 32px

      .active-page
        text-decoration: underline
