footer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 50px
  width: 100%
  margin-top: 50px
  padding: 70px 0 32px 0
  font-size: 24px
  color: #fff
  background-color: #000

  @media (max-width: 990px)
    gap: 16px
    margin-top: 24px
    padding: 70px 24px
    font-size: 12px

  div
    @media (max-width: 425px)
      text-align: center
      width: 130px
